// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-font-family: Goudy Bookletter 1911, sans-serif;

    body{
    --ion-background-color: silver;
    --ion-item-background: #fff;
    --ion-toolbar-background:silver;
    --ion-card-background: gray;
    }
}
