<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Form
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid style="margin-top: 30%;">
    <ion-row>
      <ion-col align-self-center>
        <ion-button  style="margin-bottom: 5%;" (click)="goToSignup()" expand="block" color="primary">Register</ion-button>
        <span class="already">Already a user?</span>
        <ion-button style="margin-top: 5%;" (click)="goToLogin()" expand="block" color="danger">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>