<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="bigContainer">
    <ion-row class="container">
      <h1 class="display-1 text-center font-sansita">{{ title }}</h1>
    </ion-row>
    <ion-row class="containerr">
      <p class="font-hubballi">Start learning :</p>
    </ion-row>
    <ion-row class="container" *ngFor="let training of trainingsList">
      <ion-col class="">
        <p style="font-family: 'Smooch Sans', sans-serif;" class="">{{training.id}} - {{training.name}} training</p>
      </ion-col>
      <ion-col class="col-2">
        <ion-button color="primary" size="small" (click)="showInfo(training)">More details</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>