h1 {
  font-size: xx-large;
}

.container {
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.containerr {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
}

.container a {
  text-decoration: none;
}

.font-sansita {
  font-family: "Sansita Swashed", cursive;
}

.font-hubballi {
  font-family: "Hubballi", cursive;
}

.font-smooch {
  font-family: "Smooch Sans", cursive;
}

.font-overpass {
  font-family: "Overpass", cursive;
}
